backports.functools-lru-cache
backports.shutil-get-terminal-size
cycler
decorator
enum34
ipython
ipython-genutils
kiwisolver
matplotlib
networkx
numpy
pandas
pathlib2
pexpect
pickleshare
progressbar2
prompt-toolkit
ptyprocess
Pygments
pyparsing
python-dateutil
python-utils
pytz
scandir
scikit-learn
scipy
seaborn
simplegeneric
six
sklearn
subprocess32
tqdm
traitlets
wcwidth
./pypdevs/src/
