backports.functools-lru-cache==1.6.1
backports.shutil-get-terminal-size==1.0.0
cycler==0.10.0
decorator==4.4.2
enum34==1.1.10
ipython==5.10.0
ipython-genutils==0.2.0
kiwisolver==1.1.0
matplotlib==2.2.5
networkx==2.2
numpy==1.16.6
pandas==0.24.2
pathlib2==2.3.5
pexpect==4.8.0
pickleshare==0.7.5
progressbar2==3.51.4
prompt-toolkit==1.0.18
ptyprocess==0.6.0
Pygments==2.5.2
pyparsing==2.4.7
PyPDEVS==2.4.1
python-dateutil==2.8.1
python-utils==2.4.0
pytz==2020.1
scandir==1.10.0
scikit-learn==0.20.4
scipy==1.2.3
seaborn==0.9.1
simplegeneric==0.8.1
six==1.15.0
sklearn==0.0
subprocess32==3.5.4
tqdm==4.48.2
traitlets==4.3.3
wcwidth==0.2.5
